<section class="privacy-policy">
    <h2 class="privacy-policy-title">Política de Privacidad</h2> <!-- Título principal -->
  
    <div class="privacy-policy-section">
      <h3 class="privacy-policy-section-title">Recopilación de Información Personal</h3>
      <p class="privacy-policy-section-content">En nuestro sitio web, podemos recopilar información personal como tu nombre, dirección de correo electrónico y ubicación geográfica. Esta información se recopila de forma voluntaria cuando te registras en nuestro sitio o interactúas con nuestras funciones y servicios.</p>
    </div>
  
    <div class="privacy-policy-section">
      <h3 class="privacy-policy-section-title">Uso de la Información Recopilada</h3>
      <p class="privacy-policy-section-content">La información personal que recopilamos se utiliza para brindarte servicios personalizados, mejorar nuestro sitio web y comunicarnos contigo. No compartiremos tu información personal con terceros sin tu consentimiento, a menos que sea requerido por la ley.</p>
    </div>
  
    <div class="privacy-policy-section">
      <h3 class="privacy-policy-section-title">Seguridad de la Información</h3>
      <p class="privacy-policy-section-content">Implementamos medidas de seguridad para proteger tu información personal contra el acceso no autorizado, el uso indebido o la divulgación. Sin embargo, ten en cuenta que ninguna transmisión de datos por Internet es 100% segura y no podemos garantizar la seguridad absoluta de la información.</p>
    </div>
  
    <div class="privacy-policy-section">
      <h3 class="privacy-policy-section-title">Cookies</h3>
      <p class="privacy-policy-section-content">Utilizamos cookies en nuestro sitio web para mejorar tu experiencia y personalizar el contenido que se te muestra. Puedes configurar tu navegador para rechazar las cookies, pero esto puede afectar la funcionalidad del sitio.</p>
    </div>
  
    <div class="privacy-policy-section">
      <h3 class="privacy-policy-section-title">Cambios a la Política de Privacidad</h3>
      <p class="privacy-policy-section-content">Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio se publicará en esta página, por lo que te recomendamos revisarla periódicamente. El uso continuado de nuestro sitio web después de los cambios constituirá tu aceptación de los mismos.</p>
    </div>
  </section>