.personajes-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.personajes-form label,
.personajes-form select {
  margin-bottom: 10px;
}

.personajes-form .cargar {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.personajes-form .cargar:hover {
  background-color: #45a049;
}

.personajes-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.personajes-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid #000;
}

.personajes-table th,
.personajes-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000;
  text-align: center;
  position: relative;
}

.personajes-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.personajes-table tr:hover {
  background-color: #ff0000;
}

.personajes-table td {
  text-align: center;
}

.personajes-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.no-characters {
  color: red;
  margin-top: 20px;
  text-align: center;
}