.personajes-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Margen inferior */
  margin-top: 20px; /* Margen superior */
}

.personajes-form label,
.personajes-form select {
  margin-bottom: 10px; /* Margen inferior */
}

.personajes-form .cargar {
  padding: 10px 20px; /* Relleno en vertical (10px) y horizontal (20px) */
  background-color: #4CAF50; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
}

.personajes-form .cargar:hover {
  background-color: #45a049; /* Color de fondo al pasar el ratón por encima */
}

.personajes-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Color de texto */
  margin-top: 20px; /* Margen superior */
  text-align: center; /* Alineación centrada del texto */
}

.personajes-table {
  width: 100%;
  background-color: #fff; /* Fondo blanco */
  border-collapse: collapse; /* Colapsa los bordes de la tabla */
  border: 2px solid #000; /* Borde de 2 píxeles sólido de color negro */
}

.personajes-table th,
.personajes-table td {
  padding: 8px; /* Relleno de 8 píxeles en todos los lados */
  text-align: left; /* Alineación izquierda del texto */
  border-bottom: 1px solid #000; /* Borde inferior de 1 píxel sólido de color negro */
  text-align: center; /* Alineación centrada del texto */
  position: relative; /* Posición relativa */
}

.personajes-table th {
  background-color: #f2f2f2; /* Color de fondo */
  font-weight: bold; /* Texto en negrita */
}

.personajes-table tr:hover {
  background-color: #ff0000; /* Color de fondo al pasar el ratón por encima */
}

.personajes-table td {
  text-align: center; /* Alineación centrada del texto */
}

.personajes-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Color de texto */
  margin-top: 20px; /* Margen superior */
}

.no-characters {
  color: red; /* Color de texto rojo */
  margin-top: 20px; /* Margen superior */
  text-align: center; /* Alineación centrada del texto */
}


@media (max-width: 576px) {
  .personajes-form label,
  .personajes-form select {
    margin-bottom: 5px; /* Margen inferior reducido */
  }

  .personajes-form .cargar {
    padding: 8px 16px; /* Relleno en vertical (8px) y horizontal (16px) */
  }

  .personajes-heading {
    font-size: 20px; /* Tamaño de fuente reducido */
    margin-top: 15px; /* Margen superior reducido */
  }

  .personajes-table th,
  .personajes-table td {
    padding: 6px; /* Relleno reducido */
    font-size: 14px; /* Tamaño de fuente reducido */
  }
}