<h1>Personajes</h1>

<form [formGroup]="formGroup" (ngSubmit)="cargarPersonajes()">
  <div>
    <label for="limit">Límite:</label>
    <input type="number" id="limit" formControlName="limit" required>
    <div *ngIf="formGroup?.get('limit')?.invalid && formGroup?.get('limit')?.touched">
      El límite es requerido y debe ser un número mayor o igual a cero.
    </div>
  </div>
  
  <!-- Otros campos del formulario -->

<button type="submit" [disabled]="formGroup.invalid">Cargar Personajes</button>
</form>

<div *ngIf="characters.length > 0">
  <h2>Lista de personajes:</h2>
  <ul>
    <li *ngFor="let character of characters">
      {{ character.name }}
    </li>
  </ul>
</div>

<div *ngIf="characters.length === 0">
  <p>No se encontraron personajes.</p>
</div>





