<section class="terms-conditions">
    <h2 class="terms-conditions-title">Términos y Condiciones</h2> <!-- Título principal -->
  
    <div class="terms-condition">
      <h3 class="terms-condition-title">1. Propiedad Intelectual</h3>
      <p class="terms-condition-content">Todos los derechos de propiedad intelectual relacionados con el contenido y los materiales proporcionados en este sitio web son propiedad de Marvel Entertainment, LLC y sus licenciantes. Está prohibida cualquier reproducción o distribución no autorizada de estos materiales, ya sea en su totalidad o en parte.</p>
    </div>
  
    <div class="terms-condition">
      <h3 class="terms-condition-title">2. Uso del Sitio Web</h3>
      <p class="terms-condition-content">Al acceder y utilizar este sitio web, aceptas cumplir con estos Términos y Condiciones y todas las leyes y regulaciones aplicables. No se permite el uso del sitio web para fines ilegales o no autorizados, y nos reservamos el derecho de bloquear el acceso a aquellos usuarios que violen estos términos.</p>
    </div>
  
    <div class="terms-condition">
      <h3 class="terms-condition-title">3. Enlaces a Terceros</h3>
      <p class="terms-condition-content">Este sitio web puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido o las prácticas de privacidad de estos sitios y no asumimos ninguna responsabilidad por ellos. Te recomendamos leer los términos y condiciones y las políticas de privacidad de cualquier sitio web de terceros que visites.</p>
    </div>
  
    <div class="terms-condition">
      <h3 class="terms-condition-title">4. Limitación de Responsabilidad</h3>
      <p class="terms-condition-content">En la medida permitida por la ley, no seremos responsables de ningún daño directo, indirecto, incidental, consecuencial o punitivo que surja del uso o la incapacidad de uso de este sitio web. Esto incluye cualquier pérdida de datos, ingresos o beneficios.</p>
    </div>
  
    <div class="terms-condition">
      <h3 class="terms-condition-title">5. Modificaciones</h3>
      <p class="terms-condition-content">Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento sin previo aviso. Te recomendamos revisar regularmente esta página para estar al tanto de cualquier cambio. El uso continuado del sitio web después de la publicación de cambios constituirá tu aceptación de los mismos.</p>
    </div>
  </section>