<div class="col-md-12">
  <div class="card card-container swal2-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />

    <!-- Formulario de inicio de sesión -->
    <form
      *ngIf="!isLoggedIn" 
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()" 
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username" 
          required 
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }" 
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Username is required! <!-- Mensaje de error si el campo es inválido y el formulario ha sido enviado -->
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required 
          minlength="6" 
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }" 
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div> <!-- Mensaje de error si el campo es inválido y el formulario ha sido enviado -->
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters <!-- Mensaje de error si el campo es inválido y no cumple con el mínimo de caracteres -->
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login <!-- Botón para enviar el formulario de inicio de sesión -->
        </button>
      </div>

      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }} <!-- Mensaje de error si el inicio de sesión falla -->
        </div>
      </div>
    </form>

    <!-- Mensaje de éxito de inicio de sesión -->
    <div class="alert alert-success text-center" *ngIf="isLoggedIn">
      Inicio de sesión exitoso en: {{ roles }}. <!-- Mostrar solo si se ha iniciado sesión -->
    </div>
  </div>
</div>