.swal2-container {
  z-index: 9999; /* Establece el índice de apilamiento para asegurar que el elemento Swal2 aparezca por encima de otros elementos */
}

label {
  display: block; /* Hace que las etiquetas sean elementos de bloque */
  margin-top: 10px; /* Agrega un margen superior de 10px a las etiquetas */
}

.card-container.card {
  max-width: 400px !important; /* Establece el ancho máximo de la tarjeta a 400px, con la regla !important para anular estilos heredados */
  padding: 40px 40px; /* Agrega un relleno interno de 40px en la parte superior e inferior, y 40px en los lados izquierdo y derecho */
  margin: 0 auto 25px; /* Centra la tarjeta horizontalmente y agrega un margen inferior de 25px */
}

.card {
  background-color: #f7f7f7; /* Establece el color de fondo de la tarjeta en #f7f7f7 */
  padding: 20px 25px 30px; /* Agrega un relleno interno de 20px en la parte superior, 25px en los lados izquierdo y derecho, y 30px en la parte inferior */
  margin: 0 auto 25px; /* Centra la tarjeta horizontalmente y agrega un margen inferior de 25px */
  margin-top: 50px; /* Agrega un margen superior de 50px a la tarjeta */
  -moz-border-radius: 2px; /* Agrega un radio de borde de 2px para navegadores Firefox */
  -webkit-border-radius: 2px; /* Agrega un radio de borde de 2px para navegadores WebKit */
  border-radius: 2px; /* Agrega un radio de borde de 2px */
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Agrega una sombra de caja de 2px en el eje X y el eje Y, con un desvanecimiento del color negro */
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Agrega una sombra de caja de 2px en el eje X y el eje Y, con un desvanecimiento del color negro */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* Agrega una sombra de caja de 2px en el eje X y el eje Y, con un desvanecimiento del color negro */
}

.profile-img-card {
  width: 96px; /* Establece el ancho de la imagen de perfil en 96px */
  height: 96px; /* Establece la altura de la imagen de perfil en 96px */
  margin: 0 auto 10px; /* Centra la imagen de perfil horizontalmente y agrega un margen inferior de 10px */
  display: block; /* Establece la imagen de perfil como un elemento de bloque */
  -moz-border-radius: 50%; /* Agrega un radio de borde de 50% para dar forma circular a la imagen de perfil en navegadores Firefox */
  -webkit-border-radius: 50%; /* Agrega un radio de borde de 50% para dar forma circular a la imagen de perfil en navegadores WebKit */
  border-radius: 50%; /* Agrega un radio de borde de 50% para dar forma circular a la imagen de perfil */
}

.alert-success {
  display: flex; /* Hace que el contenedor de la alerta sea un contenedor flexible */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor de la alerta */
  justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor de la alerta */
  text-align: center; /* Centra el texto dentro del contenedor de la alerta horizontalmente */
}

@media (max-width: 576px) {
  .card-container.card {
    max-width: 100% !important; /* Establece el ancho máximo de la tarjeta al 100% en dispositivos con un ancho máximo de 576px, con la regla !important para anular estilos heredados */
    padding: 20px; /* Cambia el relleno interno de la tarjeta a 20px en todos los lados */
  }
}