.message-container {
  display: flex;
  flex-wrap: wrap; /* El contenedor se envuelve en varias líneas si es necesario */
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 60px); /* Se calcula la altura mínima restando la altura del footer */
  padding-bottom: 60px; /* Se agrega espacio para el footer */
}

.conversation-list {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-form {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .message-container {
    flex-direction: column; /* Los elementos se apilan verticalmente en dispositivos con un ancho máximo de 768px */
    align-items: center; /* Se centran horizontalmente en dispositivos con un ancho máximo de 768px */
  }

  .conversation-list,
  .message-form {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px; /* Se agrega margen inferior para separar los componentes en dispositivos móviles */
  }
}