<body>
  <header>
    <h1>Bienvenido al Universo Marvel</h1>
    <p>Explora el emocionante mundo de los superhéroes de Marvel y sumérgete en sus increíbles historias y aventuras.</p>
  </header>

  <main>
    <section>
      <h2>Descubre tus personajes favoritos</h2>
      <p>Conoce a los icónicos personajes de Marvel, desde los Vengadores hasta los X-Men, y disfruta de sus fascinantes habilidades y luchas contra el mal.</p>
      <p>Como tambien investiga todo lo vinculado a tu personaje favorito de una manera muy sencilla como por ejemplo en que comics o series aparece para no perderte ninguno.</p>
    </section>

    <section>
      <h2>Explora las series y comics</h2>
      <p>Sumérgete en el emocionante universo cinematográfico y lectoral de Marvel con sus espectaculares series y comics. No te pierdas ninguna de las emocionantes aventuras.</p>
    </section>

    <section>
      <h2>Únete a la comunidad de fans si no lo has echo</h2>
      <p>Conecta con otros fans de Marvel en todo el mundo, comparte tus teorías y opiniones, y mantente al tanto de las últimas noticias y novedades del universo Marvel.</p>
        <a href="/#/register">Únete a la comunidad</a>
    </section>
  </main>
</body>