<body>
  <header>
    <h1>Bienvenido al Universo Marvel</h1> <!-- Título principal -->
    <p>Explora el emocionante mundo de los superhéroes de Marvel y sumérgete en sus increíbles historias y aventuras.</p> <!-- Descripción introductoria -->
  </header>

  <main>
    <section>
      <h2>Descubre tus personajes favoritos</h2> <!-- Título de la sección -->
      <p>Conoce a los icónicos personajes de Marvel, desde los Vengadores hasta los X-Men, y disfruta de sus fascinantes habilidades y luchas contra el mal.</p> <!-- Descripción de los personajes -->
      <p>Como también investiga todo lo vinculado a tu personaje favorito de una manera muy sencilla, por ejemplo, en qué cómics o series aparece para no perderte ninguno.</p> <!-- Información adicional sobre los personajes -->
    </section>

    <section>
      <h2>Explora las series y cómics</h2> <!-- Título de la sección -->
      <p>Sumérgete en el emocionante universo cinematográfico y lectoral de Marvel con sus espectaculares series y cómics. No te pierdas ninguna de las emocionantes aventuras.</p> <!-- Descripción de las series y cómics -->
    </section>

    <section>
      <h2>Únete a la comunidad de fans si no lo has hecho</h2> <!-- Título de la sección -->
      <p>Conecta con otros fans de Marvel en todo el mundo, comparte tus teorías y opiniones, y mantente al tanto de las últimas noticias y novedades del universo Marvel.</p> <!-- Descripción de la comunidad de fans -->
      <a href="/#/register">Únete a la comunidad</a> <!-- Enlace para unirse a la comunidad -->
    </section>
  </main>
</body>