<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Enlaces útiles</h3> <!-- Título de la sección de enlaces útiles -->
      <ul>
        <li><a href="#" routerLink="">Home</a></li> <!-- Enlace a la página de inicio -->
        <li><a href="#" routerLink="aboutUs">Acerca de nosotros</a></li> <!-- Enlace a la página de Acerca de nosotros -->
        <li><a href="#" routerLink="services">Servicios</a></li> <!-- Enlace a la página de Servicios -->
        <li><a href="#" routerLink="contact">Contacto</a></li> <!-- Enlace a la página de Contacto -->
      </ul>
    </div>
    <div class="footer-section">
      <h3>Recursos</h3> <!-- Título de la sección de recursos -->
      <ul>
        <li><a href="#" routerLink="blog">Blog</a></li> <!-- Enlace a la página de Blog -->
        <li><a href="#" routerLink="faqs">Preguntas frecuentes</a></li> <!-- Enlace a la página de Preguntas frecuentes -->
        <li><a href="#" routerLink="termsconditions">Términos y condiciones</a></li> <!-- Enlace a la página de Términos y condiciones -->
        <li><a href="#" routerLink="privacypolicy">Política de privacidad</a></li> <!-- Enlace a la página de Política de privacidad -->
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contacto</h3> <!-- Título de la sección de contacto -->
      <p>Dirección: Calle Principal, Ciudad</p> <!-- Dirección de contacto -->
      <p>Teléfono: 123-456-789</p> <!-- Número de teléfono de contacto -->
      <p>Email: info@marvel.com</p> <!-- Email de contacto -->
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Marvel. Todos los derechos reservados.</p> <!-- Mensaje de derechos reservados -->
  </div>
</footer>