<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Enlaces útiles</h3>
        <ul>
          <li><a href="#" routerLink="home">Home</a></li>
          <li><a href="#" routerLink="aboutUs">Acerca de nosotros</a></li>
          <li><a href="#" routerLink="services">Servicios</a></li>
          <li><a href="#" routerLink="contact">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Recursos</h3>
        <ul>
          <li><a href="#" routerLink="blog">Blog</a></li>
          <li><a href="#" routerLink="faqs">Preguntas frecuentes</a></li>
          <li><a href="#" routerLink="termsconditions">Términos y condiciones</a></li>
          <li><a href="#" routerLink="privacypolicy">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Dirección: Calle Principal, Ciudad</p>
        <p>Teléfono: 123-456-789</p>
        <p>Email: info@marvel.com</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Marvel. Todos los derechos reservados.</p>
    </div>
  </footer>