<div class="services">
  <h3>Servicios</h3> <!-- Título principal -->
  <p>Descubre los servicios que ofrecemos para que puedas sumergirte aún más en el emocionante mundo de Marvel.</p> <!-- Descripción de los servicios -->
  <ul>
    <li><a href="/#personajes">Personajes</a> - Explora las Ids de tus personajes favoritos para luego saber mas de ellos. </li> <!-- Servicio: Personajes -->
    <li><a href="/#comics">Comics</a> - Sumérgete en el vasto mundo de los cómics de Marvel y descubre historias épicas.</li> <!-- Servicio: Comics -->
    <li><a href="/#message">Mensajes</a> - Mantente al día con las últimas noticias con los demas fanaticos del universo Marvel.</li> <!-- Servicio: Mensajes -->
    <li><a href="/#enciclopedia">Enciclopedia</a> - Obtén información detallada sobre tus héroes y villanos favoritos.</li> <!-- Servicio: Enciclopedia -->
    <li><a href="/#extras">Extras</a> - Mantente informado sobre los eventos, comics, películas en las que han participado tus personajes.</li> <!-- Servicio: Extras -->
  </ul>
</div>