<div class="services">
    <h3>Servicios</h3>
    <p>Descubre los servicios que ofrecemos para que puedas sumergirte aún más en el emocionante mundo de Marvel.</p>
    <ul>
      <li><a href="#">Personajes</a> - Explora las Ids de tus personajes favoritos para luego saber mas de ellos. </li>
      <li><a href="#">Comics</a> - Sumérgete en el vasto mundo de los cómics de Marvel y descubre historias épicas.</li>
      <li><a href="#">Mensajes</a> - Mantente al día con las últimas noticias con los demas fanaticos del universo Marvel.</li>
      <li><a href="#">Enciclopedia</a> - Obtén información detallada sobre tus héroes y villanos favoritos.</li>
      <li><a href="#">Extras</a> - Mantente informado sobre los eventos,comics,peliculas que han participado tus personjes.</li>
    </ul>
  </div>