<section class="blog">
    <h2 class="blog-title">Artículos Recientes</h2> <!-- Título principal -->
  
    <article class="blog-post">
      <h3 class="blog-post-title">El Universo Marvel: Una Visión General</h3>
      <p class="blog-post-content">
        El Universo Marvel es un vasto y complejo universo ficticio que abarca cómics, películas, series y más. Con personajes icónicos como Spider-Man, Iron Man y los Vengadores, Marvel ha creado un mundo lleno de superhéroes, villanos y emocionantes historias.
      </p>
    </article>
  
    <article class="blog-post">
      <h3 class="blog-post-title">El Impacto de Marvel en el Cine</h3>
      <p class="blog-post-content">
        Marvel ha dejado una huella indeleble en la industria cinematográfica con su exitoso Universo Cinematográfico de Marvel (UCM). Con películas como Iron Man, Avengers: Endgame y Black Panther, Marvel ha redefinido el género de superhéroes en el cine y ha cautivado a audiencias de todo el mundo.
      </p>
    </article>
  
    <article class="blog-post">
      <h3 class="blog-post-title">Las Historias más Emblemáticas de Marvel</h3>
      <p class="blog-post-content">
        Marvel ha creado algunas de las historias más emblemáticas y memorables en el mundo de los cómics. Desde la saga de la Guerra del Infinito hasta la trágica muerte de Gwen Stacy, estas historias han dejado una marca indeleble en los fans de Marvel y han ayudado a definir el legado de la editorial.
      </p>
    </article>
  </section>