.table-container {
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .table-container {
    overflow-x: initial;
  }

  .user-table {
    width: auto;
  }

  .user-table th,
  .user-table td {
    display: block;
    width: 100%;
    text-align: center;
  }

  .user-table th {
    font-size: 14px;
  }

  .user-table td {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .user-table tbody tr:last-child td {
    border-bottom: none;
  }
}