<div class="table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Nombre de usuario</th> <!-- Encabezado de la columna "Nombre de usuario" -->
        <th>Email</th> <!-- Encabezado de la columna "Email" -->
        <th>Rol</th> <!-- Encabezado de la columna "Rol" -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"> <!-- Iteración sobre cada usuario en la lista "users" -->
        <td>{{ user.username }}</td> <!-- Celda con el nombre de usuario del usuario actual -->
        <td>{{ user.email }}</td> <!-- Celda con el email del usuario actual -->
        <td>{{ user.roles }}</td> <!-- Celda con los roles del usuario actual -->
      </tr>
    </tbody>
  </table>
</div>