.faqs {
  margin-top: 20px; /* Margen superior de 20px */
  background-color: #ffffff; /* Color de fondo */
  padding: 20px; /* Espaciado interno de 20px */
  border-radius: 5px; /* Borde redondeado con un radio de 5px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.faqs-title {
  font-size: 28px; /* Tamaño de fuente de 28px */
  font-weight: bold; /* Fuente en negrita */
  margin-bottom: 15px; /* Margen inferior de 15px */
  color: #333333; /* Color del texto */
}

.faq-item {
  margin-bottom: 20px; /* Margen inferior de 20px */
}

.faq-question {
  font-size: 24px; /* Tamaño de fuente de 24px */
  font-weight: bold; /* Fuente en negrita */
  margin-bottom: 10px; /* Margen inferior de 10px */
  color: #333333; /* Color del texto */
}

.faq-answer {
  font-size: 18px; /* Tamaño de fuente de 18px */
  line-height: 1.5; /* Altura de línea de 1.5 para un espaciado adecuado entre líneas */
  margin-left: 20px; /* Margen izquierdo de 20px */
  color: #666666; /* Color del texto */
}

@media (max-width: 768px) {
  .faqs {
    padding: 10px; /* Espaciado interno de 10px en dispositivos con un ancho máximo de 768px */
  }

  .faqs-title {
    font-size: 24px; /* Tamaño de fuente de 24px en dispositivos con un ancho máximo de 768px */
    margin-bottom: 10px; /* Margen inferior de 10px en dispositivos con un ancho máximo de 768px */
  }

  .faq-question {
    font-size: 20px; /* Tamaño de fuente de 20px en dispositivos con un ancho máximo de 768px */
    margin-bottom: 5px; /* Margen inferior de 5px en dispositivos con un ancho máximo de 768px */
  }

  .faq-answer {
    font-size: 16px; /* Tamaño de fuente de 16px en dispositivos con un ancho máximo de 768px */
  }
}