<div class="about-us">
    <h3>Acerca de nosotros</h3>
    <p>Somos un sitio web dedicado a proporcionar información y contenido relacionado con el fascinante universo de Marvel. Nuestro objetivo es mantener a los fanáticos de Marvel actualizados con las últimas noticias, películas, personajes y cómics.</p>
    <p>Explora nuestro sitio y descubre todo sobre los héroes, villanos y eventos que han moldeado el universo Marvel. ¡Ven y únete a nuestra comunidad de fanáticos apasionados!</p>
    <p>Si tienes alguna pregunta o comentario, no dudes en contactarnos. ¡Esperamos que disfrutes de tu visita en nuestro sitio!</p>
  </div>