.about-us {
  text-align: center; /* Alinea el contenido al centro del contenedor */
  padding: 40px; /* Espaciado interno de 40px alrededor del contenido */
  background-color: #f8f8f8; /* Color de fondo */
  border-radius: 5px; /* Borde redondeado con un radio de 5px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.about-us h3 {
  margin-bottom: 20px; /* Margen inferior de 20px para separar del contenido anterior */
  color: #333; /* Color del texto */
  font-size: 32px; /* Tamaño de fuente de 32px */
  font-weight: bold; /* Fuente en negrita */
}

.about-us p {
  margin-bottom: 15px; /* Margen inferior de 15px para separar del contenido anterior */
  color: #666; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente de 20px */
  line-height: 1.6; /* Altura de línea de 1.6 para un espaciado adecuado entre líneas */
}

.about-us p:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último párrafo dentro del contenedor */
}

@media screen and (max-width: 768px) {
  .about-us {
    padding: 30px; /* Reducción del espaciado interno a 30px en dispositivos con ancho máximo de 768px */
  }

  .about-us h3 {
    margin-bottom: 15px; /* Reducción del margen inferior a 15px en dispositivos con ancho máximo de 768px */
    font-size: 24px; /* Reducción del tamaño de fuente a 24px en dispositivos con ancho máximo de 768px */
  }

  .about-us p {
    font-size: 18px; /* Reducción del tamaño de fuente a 18px en dispositivos con ancho máximo de 768px */
  }
}